.articleItem {
    display: grid;
    grid-template-columns: 245px 1fr;
    grid-template-rows: 1fr;
    border: var(--orange-border);
    border-radius: var(--base-radius);
    overflow: hidden;
}
.articleItem:last-child {
    margin-bottom: 0;
}

.articleItem__picture-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.articleItem__image {
    height: 100%;
}

.articleItem__content {
    padding: 30px;
}

.articleItem__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.articleItem__desc {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 30px;
}

.articleItem__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.articleItem__link {

}

.articleItem__date {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.3;
    color: rgba(44, 44, 44, 0.5);
}
.articleItem__date::before {
    content: url('../img/calendarIcon.svg');
    line-height: 1;
    margin-right: 10px;
}
.articleItem__date_mobile {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .articleItem {
        grid-template-columns: 290px 1fr;
    }

    .articleItem__content {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .articleItem {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
    }

    .articleItem__image {
        width: 100%;
        height: auto;
    }

    .articleItem__content {
        padding: 20px;
    }

    .articleItem__title {
        margin-bottom: 10px;
    }

    .articleItem__desc {
        margin-bottom: 20px;
    }

    .articleItem__date_mobile {
        display: block;
        margin-bottom: 20px;
    }

    .articleItem__date_desktop {
        display: none;
    }
}