.attention-block {
    display: flex;
    justify-content: space-between;
    background: #37211c;
    border-radius: var(--base-radius);
    overflow: hidden;
    color: var(--white-color);
}

.attention-block__content {
    padding: 30px;
    padding-right: 15px;
}

.attetion-block__title {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.attetion-block__text {
    line-height: 1.3;
    margin-bottom: 40px;
}

.attention-block__image {
    height: 100%;
}