.button {
    display: inline-block;
    padding: 10px 30px;
    border: 0;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
}

.button_rounded {
    border-radius: 50px;
}

.button_primary {
    transition: border, color, background .3s;
    background: var(--orange-color);
    color: var(--white-color);
    border: var(--orange-border);
    font-weight: 500;
}
.button_primary:hover {
    background: var(--white-color);
    color: var(--orange-color);
}

.button_dark {
    transition: border, color, background .3s;
    background: var(--dark-gray-color);
    color: var(--white-color);
    border: 1px solid var(--dark-gray-color);
    font-weight: 500;
}
.button_dark:hover {
    background: var(--white-color);
    color: var(--dark-gray-color);
}

.button_primary-light {
    transition: border, color, background .3s;
    background: var(--light-orange-color);
    color: var(--orange-color);
    border: 1px solid var(--light-orange-color);
    font-weight: 500;
}
.button_primary-light:hover {
    background: var(--white-color);
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.button_center {
    margin-left: auto;
    margin-right: auto;
}

.button_full-width {
    width: 100%
}

.button_big {
    display: block;
    height: 60px;
}

.button_lg {
    height: 60px;
}

.button_icon {
    background: transparent;
    border: none;
}

.button_section {
    margin-top: 50px;
}

.button_scroll-up {
    display: none;
    position: fixed;
    left: calc(50% - 600px);
    transform: translateX(-100%);
    bottom: 47px;
    background: var(--white-color);
}

.button_scroll-up,
.button_messengers,
.button_telegramm,
.button_whatsapp,
.button_messengers-close {
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 3px 15px 0 rgba(44, 44, 44, 0.10);
    transition: transform .5s, opacity .4s;
}

.button_messengers {
    position: relative;
    z-index: 1;
}

.button_messengers-close,
.button_telegramm,
.button_whatsapp {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(0, 0);
}

.button_messengers-close_open,
.button_telegramm_open,
.button_whatsapp_open {
    opacity: 1;
    z-index: 2;
}
.button_messengers-close_open {
    transform: translateX(-90px);
}
.button_telegramm_open {
    transform: translateY(-90px);
}
.button_whatsapp_open {
    transform: translateY(-180px);
}

.button_scroll-up img,
.button_messengers img,
.button_whatsapp img,
.button_telegramm img,
.button_messengers-close img {
    width: 70px;
}



@media (max-width: 1199px) {
    .button {
        padding: 9px 17px;
    }
}
@media (max-width: 575px) {
    .button {
        padding: 9px 15px;
    }
}