.footer {
    background: var(--black-color);
    color: var(--white-color);
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    transition: padding .4s;
    border-bottom: var(--footer-border);
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 5px;
    border-bottom: var(--footer-border);
}
.footer__menu-list {
    padding-left: 0;
    list-style-type: none;
}
.footer__nav-title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 10px;
}
.footer__menu-link {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: var(--dark-gray-color);
}
.footer__menu-icon {
    width: 30px;
}

.footer__middle {
    display: grid;
    grid-template-columns: minmax(auto, 400px) max-content minmax(auto, 400px);
    font-size: 14px;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.footer__second-middle {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'email email'
                         'inn privacy';
    align-items: flex-end;
    padding: 20px 0;
    border-bottom: var(--footer-border);
}
.footer__second-middle .footer__email { 
    grid-area: email;
}

.footer__bottom {
    background: var(--black-color2);
}

.footer__wrapper-bottom {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 0;
    color: var(--light-gray-color2);
    align-items: center;
}

.footer__email {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.footer__link-mail {
    display: none;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
}

.footer__action_btn {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 30px;
}
.footer__placeholder {
    font-weight: 400;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.5);
}
.footer__company-data {
    text-align: right;
}
.footer__link-privacy {
    text-align: right;
}
.footer__slogan {
    font-size: 14px;
    line-height: 1.5;
}
.footer__social-links img {
    width: 45px;
}

.footer__inn-item {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .8);
}
.footer__inn-item img {
    margin-right: 5px;
}

.footer__wrp-menu .footer__slogan {
    display: none;
}

.footer__link-privacy {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__copyright {
    color: rgba(255, 255, 255, .8);
}

.footer__whatsapp-link {
    display: none;
    width: 80px;
    grid-area: wa;
}
.footer__whatsapp-link img {
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer__action_btn {
        font-size: 12px;
    }

    .footer__middle {
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 0 70px;
    }

    .footer__nav-title {
        font-size: 15px;
    }
    .footer__menu-link {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer__link-mail {
        line-height: 18px;
        font-size: 14px;
    }

    .footer__placeholder_email {
        display: none;
    }

    .footer__email {
        margin-left: 20px;
    }

    .footer__action_btn {
        font-size: 12px;
        padding: 7px 7px;
        white-space: nowrap;
    }

    .footer__middle {
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 0 70px;
        font-size: 12px;
    }

    .footer__nav-title {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .footer__menu-link {
        font-size: 12px;
    }
    
    .footer__wrapper-bottom {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .footer__wrp-top,
    .footer__wrp-menu {
        background: var(--black-color2);
    }

    .footer__wrp-middle .footer__slogan {
        display: none;
    }

    .footer__whatsapp-link {
        display: inline-block;
    }

    .footer__top {
        border-bottom: none;
    }
    .footer__middle {
        grid-template-columns: auto 70%;
        grid-template-areas: 'wa tg';
        border-bottom: var(--footer-border);
        justify-content: flex-start;
        padding: 20px 0;
    }
    .footer__bottom {
        background: var(--black-color);
    }

    .footer__menu {
        display: block;
        border-bottom: none;
        padding: 0;
    }

    .footer__nav-block {
        border-bottom: var(--footer-border);
        padding: 12px 0;
    }
    .footer__nav-block:first-child {
        border-top: var(--footer-border);
    }
    .footer__nav-block:last-child {
        border-bottom: none;
    }
    .footer__nav-block_active .footer__nav-title {
        color: var(--orange-color);
    }
    .footer__nav-block_active .footer__nav-title::after {
        content: url(../img/logo/chevron_active.svg);
        transform: rotate(180deg);
    }
    .footer__nav-block_active .footer__menu-list {
        display: block;
    }

    .footer__nav-title {
        position: relative;
        font-size: 13px;
        margin-bottom: 0px;
        padding-right: 10px;
    }
    .footer__nav-title::after {
        position: absolute;
        right: 0;
        content: url(../img/logo/chevron.svg);
    }

    .footer__menu-list {
        display: none;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .footer__menu-link {
        font-size: 12px;
    }
    
    .footer__wrapper-bottom {
        grid-template-columns: 1fr;
        padding: 30px 0;
    }

    .footer__inn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: inn;
    }
    .footer__inn .footer__link-mail {
        display: block;
    }

    .footer__inn-list {
        display: inline-block;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer__top {
        padding: 10px 0;
    }

    .footer__link-mail {
        display: none;
    }
    .footer__second-middle .footer__link-mail {
        display: block;
    }

    .footer__action_btn {
        display: none;
    }

    .footer__placeholder_email {
        display: none;
    }
    .footer__second-middle .footer__placeholder_email {
        display: block;
    }

    .footer__inn {
        display: none;
    }
    .footer__second-middle .footer__inn {
        display: flex;
        align-items: flex-start;
    }

    .footer__link-privacy {
        display: none;
    }
    .footer__second-middle .footer__link-privacy {
        display: block;
    } 

    .footer__second-middle .footer__email {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer__second-middle {
        display: grid;
    }

    .footer__social-links {
        display: none;
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .footer__wrp-top {
        padding: 40px 0 20px;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__top .logo {
        width: 100%;
        max-width: 300px;
    }

    .footer__second-middle {
        display: grid;
    }

    .footer__link-mail {
        display: none;
    }
    .footer__second-middle .footer__link-mail {
        display: block;
    }

    .footer .phone-block {
        flex-shrink: 0;
        margin-right: 0;
        grid-gap: 10px 0;
    }
    .footer .phone-block__number {
        font-size: 16px;
    }

    .footer__action_btn {
        display: none;
    }

    .footer__placeholder_email {
        display: none;
    }

    .footer__top {
        padding: 15px 0;
    }

    .footer__wrp-menu .footer__slogan {
        display: none;
        font-size: 12px;
        line-height: 16px;
    }

    .footer__nav-title {
        font-size: 14px;
    }

    .footer__menu-list {
        margin-top: 15px;
    }

    .footer__menu-item {
        margin-bottom: 15px;
    }
    .footer__menu-link {
        font-size: 14px;
    }

    .footer__nav-block {
        padding: 10px 0;
    }

    .footer__social-links {
        display: none;
    }

    .footer__wrapper-bottom {
        display: block;
        text-align: center;
    }

    .footer__placeholder_email {
        display: none;
    }
    .footer__second-middle .footer__placeholder_email {
        display: block;
    }

    .footer__inn {
        display: none;
    }
    .footer__inn-item {
        margin-bottom: 10px;
    }
    .footer__inn-item:last-child {
        margin-bottom: 0;
    }
    .footer__second-middle .footer__inn {
        display: flex;
        align-items: flex-start;
    }

    .footer__link-privacy {
        display: none;
    }
    .footer__second-middle .footer__link-privacy {
        display: block;
        text-align: left;
    }

    .footer__social-links {
        display: none;
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
    }

    .footer__email {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .footer__middle {
        padding: 10px 0;
    }
    .footer__second-middle {
        font-size: 12px;
    }
    .footer__link-privacy {
        font-size: 12px;
        margin-left: 10px;
    }
    .footer__wrapper-bottom {
        padding: 20px 0;
    }
}