.form {

}

.form__title {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.3;
}

.form__fields-group {
    margin-top: 30px;
    margin-bottom: 10px;
}

.form__fields-group_inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.form__fields-group_inline .form__field {
    width: 100%;
    margin: 0 5px;
}
.form__fields-group_inline .form__field:first-child {
    margin-left: 0;
}
.form__fields-group_inline .form__field:last-child {
    margin-right: 0;
}
.form__fields-group_inline .form__submit {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.form__field {
    position: relative;
    margin-bottom: 16px;
}
.form__field_icon .form__input {
    padding-left: 45px;
}
.form__field_icon::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 30px;
    height: 30px;
}
.form__field_name::before {
    background: url('../img/logo/user.svg');
    background-size: cover;
}
.form__field_phone::before {
    background: url('../img/logo/phone.svg');
    background-size: cover;
}
.form__field_email::before {
    background: url('../img/logo/mail.svg');
    background-size: cover;
}
.form__field_inline {
    width: auto;
    margin: 0 5px;
}


.form__input {
    border: 1px solid rgba(44, 44, 44, 0.2);
    border-radius: 10px;
    padding: 15px 35px;
    outline: none;
}
.form__input:focus {
    outline: none;
}
.form__input_full-width {
    width: 100%;
}


.form__subtext {
    margin-top: 20px;
    color: rgba(var(--black-color-rgb), 0.5);
    line-height: 1.3;
    font-weight: 500;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .form__title {
        font-size: 22px;
    }

    .form__field_icon::before {
        left: 12px;
    }

    .form__input {
        padding: 20px 35px;
    }
    .form__input::placeholder {

    }
    .form__field_icon .form__input {
        padding-left: 67px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form__field {
        margin-bottom: 10px;
    }
    .form__input::placeholder {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .form__input::placeholder {
        font-size: 16px;
    }
    .form__title {
        font-size: 22px;
    }

    .form__field_icon::before {
        left: 16px;
    }

    .form__input {
        padding: 16px 35px;
    }
    .form__input::placeholder {
        font-size: 16px;
    }
    .form__field_icon .form__input {
        padding-left: 80px;
    }

    .form__field_icon::before {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 575px) {
    .form__title {
        font-size: 12px;
    }
    .form__fields-group {
        margin-top: 20px;
    }

    .form__input {
        padding: 10px 15px;
    }
    .form__input::placeholder {
        font-size: 12px;
    }

    .form__field_icon::before {
        width: 26px;
        height: 26px;
        left: 16px;
    }

    .form__field_icon .form__input {
        padding-left: 55px;
    }

    .form__fields-group {
        max-width: 300px;
        margin: 20px auto;
    }

    .form__submit {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}