.link {
    cursor: pointer;
}

.link:hover {
    color: var(--orange-color);
}

.link_primary {
    transition: color .2s;
}

.link_simple:hover {
    color: var(--dark-gray-color);
}

.link_semibold {
    font-weight: 500;
}

.link_menu,
.link_icon {
    text-decoration: none;
}

.link_btn {
    display: inline-block;
    line-height: 1;
    padding: 15px 25px;
    border-radius: 50px;
}

.link_light-orange {
    color: var(--orange-color);
    background: var(--light-orange-color);
}

.link_white {
    color: var(--orange-color);
    background: var(--white-color);
}