@import url('./vars.css');

@import url('./custom-bootstrap.css');

@import url('./utils.css');

/* Fonts */
@import url('../fonts/Montserrat/stylesheet.css');
@import url('../fonts/OpenSans/stylesheet.css');

/* Components */
@import url('./nav-menu.css');
@import url('./custom-list.css');
@import url('./button.css');
@import url('./link.css');
@import url('./headline.css');
@import url('./form.css');
@import url('./alert-block.css');
@import url('./mobile-menu.css');
@import url('./slick-slider.css');
@import url('./card.css');
@import url('./modal-window.css');
@import url('./simple-block.css');


body {
    font-family: 'Montserrat';
    color: var(--black-color);
    font-size: var(--base-fs);
    line-height: var(--base-lh);
}
a {
    color: inherit;
}
main {
    padding-top: 150px;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 3;
    background: var(--white-color);
    box-shadow: 0 4px 15px 0 rgba(44, 44, 44, 0.10);
}
.footer {
    background: var(--black-color);
    color: var(--white-color);
}
.header__top,
.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    transition: padding .4s;
}
.header__top {
    border-bottom: var(--simple-border);
}
.header__top_slim {
    padding: 10px 0;
}
.header__action-btn,
.footer__action_btn {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 30px;
}
.footer__wrp-menu .footer__slogan {
    display: none;
}
.footer__top {
    border-bottom: var(--footer-border);
}
.footer__bottom {
    background: var(--black-color2);
}
.footer__wrapper-bottom {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 0;
    color: var(--light-gray-color2);
    align-items: center;
}
.footer__link-email {
    display: none;
}
.footer__company-data {
    text-align: right;
}
.footer__link-privacy {
    text-align: right;
}
.footer__social-links img {
    width: 45px;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 5px;
    border-bottom: var(--footer-border);
}
.footer__menu-list {
    padding-left: 0;
    list-style-type: none;
}
.footer__nav-title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 10px;
}
.footer__menu-link {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: var(--dark-gray-color);
}
.footer__menu-icon {
    width: 30px;
}
.footer__middle {
    display: grid;
    grid-template-columns: minmax(auto, 400px) max-content minmax(auto, 400px);
    font-size: 14px;
    padding: 30px 0;
    justify-content: space-between;
}
.footer__inn-item {
    display: flex;
    align-items: center;
}
.footer__inn-item img {
    margin-right: 5px;
}

.mobile-menu-btn {
    display: none;
}
.mobile-menu-btn img {
    width: 22px;
}

.phone-block {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);
}
.phone-block__number {
    font-weight: 600;
    text-decoration: none;
}
.phone-block__city {
    position: relative;
    margin-left: 12px;
    padding-left: 12px;
    text-align: right;
}
.phone-block__city::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    width: 2px;
    height: 18px;
    background: var(--orange-color);
    border-radius: 2px;
}


.logo {
    width: 100%;
    max-width: 279px;
}


.page-section {
    overflow: hidden;
    padding-top: 100px;
}
.page-section_pb {
    padding-bottom: 100px;
}
.page-section_reviews {
    padding-bottom: 40px;
}
.page-section_gray-bg {
    background: var(--light-gray-color);
}


.main-section {
    position: relative;
    display: flex;
    align-items: end;
    height: calc(100vh - 150px);
    padding-bottom: 150px;
}
.main-section__headline {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
}
.main-section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.main-section__video {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    min-width: 2000px;
}
.main-section__dark-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .3);
}
.main-section__separator {
    margin: 30px auto;
    width: 60%;
    height: 2px;
    background: var(--white-color);
}
.main-section__desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30px;
}
.main-section__desc-item {
    color: var(--white-color);
    border-left: 1px solid var(--white-color);
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    max-width: 430px;
}
.main-section__slide-down {
    cursor: pointer;
    background: transparent;
    border: none;
}

.grid-partners {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 50px;
    align-items: center;
    justify-items: center;
}
.grid-partners__logo {
    max-width: 100%;
    max-height: 95px;
}


.grid-main-achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.achievements-block {
    height: 250px;
}
.achievements-block__desc {
    line-height: 1.3;
}


.wrapper-section-task-solved {
    border-radius: 50px;
    background: var(--light-orange-color);
}

.wrapper-tasks-solved {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.block-tasks-solved {
    height: 100%;
    padding: 30px;
    border-radius: var(--base-radius);
    border: var(--base-border);
    background: var(--white-color);
}
.block-tasks-solved__logo {
    margin-bottom: 20px;
}
.block-tasks-solved__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.block-tasks-solved__desc {
    line-height: 1.3;
    margin-bottom: 20px;
}
.block-tasks-solved__quote {
    padding: 20px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.3;
    background: var(--light-gray-color);
    border-radius: var(--base-radius);
    margin-bottom: 20px;
}


.bg-light-orange {

}


.feedback-form-label {
    font-size: 18px;
}

.wrapper-main-feedback-form {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg-main-feedback-form {
    width: 100%;
    margin-bottom: 25px;
}

.warning-main-feedback-form {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray-color2);
}

.main-feedback-form {
    position: absolute;
    top: 55px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    padding: 45px 55px 50px;
    margin: 0 auto 25px;
    box-shadow: 0px 10px 20px 0px rgba(44, 44, 44, 0.10);
    border-radius: 20px;
    background: var(--white-color);
}


.grid-company-service {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}
.alert-company-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alert-company-service .button {
    flex-shrink: 0;
}

.cell-service {
    height: 300px;
}
.cell-service__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cell-service__desc {
    line-height: 1.3;
    padding-right: 10px;
}


.alert-service {
    margin-bottom: 50px;
}


.wrapper-list-categories-methods {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 300px);
    grid-column-gap: 30px;
    /* position: relative;
    overflow: hidden;
    margin-top: 50px; */
}
.list-categories-methods-bg {
    position: relative;
    height: 100%;
    border-radius: var(--base-radius);
}
.list-categories-methods-bg__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.list-categories-methods {
    padding-left: 0;
    list-style-type: none;
    counter-reset: methods;
    margin-bottom: 0;
}

.category-methods {
    padding: 30px;
    border: var(--base-border);
    border-radius: var(--base-radius);
    margin-bottom: 30px;
}
.category-methods:last-child {
    margin-bottom: 0;
}
.category-methods_gray {
    background: var(--light-gray-color);
}
.category-methods_light-orange {
    background: var(--light-orange-color);
}
.category-methods__title {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.category-methods__title::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: var(--dark-gray-color);
    color: var(--white-color);
    border-radius: 50%;
    margin-right: 20px;
    counter-increment: methods;
	content: counter(methods);
    flex-shrink: 0;
    flex-grow: 0;
}
.category-methods__list {
    margin-top: 30px;
}

.category-method {
    display: flex;
    margin-bottom: 20px;
}
.category-method__label,
.category-method__text {
    position: relative;
    padding: 10px 20px;
    border: var(--orange-border);
    border-radius: 50px;
}
.category-method__label {
    z-index: 2;
    background: var(--light-orange-color);
    color: var(--orange-color);
}
.category-method_multy-labels .category-method__label {
    padding-right: 60px;
}
.category-method_multy-labels .category-method__label:not(:first-child):not(:last-child) {
    margin-left: -50px;
}
.category-method_multy-labels .category-method__label:last-child {
    padding-right: 20px;
}
.category-method__text {
    background: var(--white-color);
    z-index: 1;
    flex-grow: 1;
    padding-left: 60px;
    margin-left: -50px;
}


.projects-slider-container {
    border: var(--orange-border);
    border-radius: var(--base-radius);
}

.projects-slider .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.projects-slider .slick-prev::before {
    content: url('../img/left-chevron.svg');
}
.projects-slider .slick-next::before {
    content: url('../img/right-chevron.svg');
}
.projects-slider > .slick-prev {
    left: -27px;
}
.projects-slider > .slick-next {
    right: -27px;
}
.projects-slider .slick-dots {
    display: flex !important;
    position: absolute;
    bottom: -20px;
}
.projects-slider .slick-dots li {
    width: 100%;
    height: 5px;
    margin: 0 5px;
}
.projects-slider .slick-dots li:first-child {
    margin-left: 0;
}
.projects-slider .slick-dots li:last-child {
    margin-right: 0;
}
.projects-slider .slick-dots li button {
    width: 100%;
    height: 5px;
}
.projects-slider .slick-dots li button:before,
.projects-slider .slick-dots li.slick-active button:before {
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
.projects-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.project-item__container {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-gap: 0;
}
.project-item__review {
    padding: 30px;
}
.project-item__client {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'av name'
                        'av pos';
    grid-column-gap: 10px;
    margin-bottom: 30px;
}
.project-item__client-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    grid-area: av;
}
.project-item__client-name {
    grid-area: name;
    font-weight: 700;
    line-height: 1;
    align-self: center;
}
.project-item__client-position {
    grid-area: pos;
    font-weight: 500;
    color: rgba(var(--black-color-rgb), .5);
    line-height: 1;
}
.project-item__review-text {
    margin-bottom: 20px;
    line-height: 1.3;
}
.project-item__review-quote {
    font-style: italic;
    font-weight: 600;
    line-height: 1.3;
    padding: 20px;
    background: #eef2f6;
    border-radius: var(--base-radius);
    margin-bottom: 20px;
}
.project-item__desc {
    border-left: 1px solid var(--orange-color);
}
.project-item__name {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px;
    border-radius: 0 var(--base-radius) 0 0;
    border-bottom: 1px solid var(--orange-color);
    background: var(--light-orange-color);
}
.project-item__table {
    background: var(--light-orange-color);
    border-radius: 0 0 var(--base-radius) 0;
}
.project-item__table th, td {
    vertical-align: top;
    padding: 20px 30px;
}
.project-item__table th:first-child {
    border-right: var(--base-border);
}
.project-item__table th {
    border-bottom: var(--base-border);
}
.project-item__table tr:last-child th,
.project-item__table tr:last-child td {
    border-bottom: none;
}
.project-item__table td {
    border-bottom: var(--base-border);
}




.bottom-feedback-form .wrapper-main-feedback-form {
    display: none;
}
.mini-feedback-form {
    display: block;
    background: var(--white-color);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 120px;
    margin-top: 80px;
}
.mini-feedback-form .warning-main-feedback-form {
    margin-bottom: 25px;
}
.text-block {
    margin-bottom: 50px;
}

.block-stages-change {
    position: relative;
    padding: 55px;
    border: 10px solid var(--light-gray-color);
    border-radius: 20px;
    max-width: 860px;
    margin: 0 auto 50px;
}
.block-stages-change__title {
    position: absolute;
    top: -28px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    background: var(--white-color);
    padding: 5px 50px;
    white-space: nowrap;
}
.block-stages-change__arrow {
    margin: 0 30px;
}
.block-stages-change__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}
.block-stages-change__item {
    position: relative;
}
.block-stages-change__label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: var(--white-color);
    padding: 5px 20px 5px 5px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 24px;
}
.block-stages-change__index {
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: var(--orange-color);
    border-radius: 50%;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.block-stages-change__img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.messenger-bts-wrp {
    display: none;
    position: fixed;
    left: calc(50% + 600px);
    bottom: 47px;
    z-index: 1;
}

.telegram-chat-link {
    display: flex;
    align-items: self-start;
    text-decoration: none;
}
.telegram-chat-link:hover {
    color: inherit;
}
.telegram-chat-link__logo {
    margin-right: 12px;
}
.telegram-chat-link__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.telegram-chat-link__desc {
    color: var(--dark-gray-color);
    font-size: 12px;
    line-height: 18px;
}

.wrp-gray-gradient {
    background: linear-gradient(180deg, #F9FAFB 0%, #EEF2F6 100%);
    border-radius: 20px;
    padding: 35px 65px 60px;
}

.group-cards {
    margin-top: 35px;
}

.list-key-value {
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.key-value-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    list-style-type: none;
    background: #F9FAFB;
    margin-bottom: 22px;
    padding-left: 90px;
    border-radius: 12px;
}
.key-value-item__title {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    padding-right: 10px;
}
.key-value-item__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: var(--white-color);
    border: 6px solid var(--middle-gray);
    border-radius: 50%;
}
.key-value-item__logo::after {
    content: ''; 
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    border: 15px solid transparent;
    border-left: 25px solid var(--middle-gray);
}
.key-value-item__img {
    height: 60px;
}

.about-pm-areas {
    position: relative;
}

.main-feedback-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    height: 950px;
}
.main-feedback-block__bg {
    position: relative;
}
.main-feedback-block__form-container {
    justify-self: flex-end;
    align-self: center;
}
.main-feedback-block__img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -50%;
    height: 100%;
    border-radius: 0 var(--base-radius) var(--base-radius) 0;
}
.main-feedback-block__form {
    width: 565px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 30px 40px;
    border-radius: var(--base-radius);
    margin: 100px 0;
}