@media (max-width: 1345px) {
    .button_scroll-up {
        left: calc(50% - 580px);
        transform: translateX(0);
    }

    .messenger-bts-wrp {
        left: calc(50% + 580px);
        transform: translateX(-100%);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --base-fs: 16px;
    }

    .logo {
        max-width: 200px;
    }

    .header__action-btn {
        font-size: 12px;
    }

    .achievements-block {
        height: 260px;
    }
    .achievements-block__title {
        font-size: 23px;
    }
    .achievements-block__desc {
        font-size: 17px;
    }

    .simple-block{
        padding: 28px;
    }
    .simple-block__title {
        font-size: 23px;
    }

    .block-tasks-solved__title {
        font-size: 20px;
    }

    .main-feedback-form {
        position: initial;
        max-width: 600px;
        margin-top: 35px;
        margin-bottom: 35px;
        transform: none;
    }

    .bg-main-feedback-form {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
         width: auto;
        margin-bottom: 25px;
    }

    .cell-service__title {
        font-size: 22px;
    }

    .category-methods__title {
        font-size: 22px;
    }

    .button_scroll-up,
    .button_messengers,
    .button_telegramm,
    .button_whatsapp,
    .button_messengers-close {
        padding: 0;
    }

    .button_scroll-up img,
    .button_messengers img,
    .button_whatsapp img,
    .button_telegramm img,
    .button_messengers-close img {
        width: 60px;
    }

    .button_scroll-up {
        left: calc(50% - 480px);
        transform: translateX(0);
    }

    .messenger-bts-wrp {
        left: calc(50% + 480px);
        transform: translateX(-100%);
    }

    .wrapper-list-categories-methods {
        grid-template-columns: 80% 20%;
    }

    .category-methods {
        padding: 20px;
    }

    .mini-feedback-form {
        padding: 40px 80px;
    }

    .secondary-page-start__main {
        font-size: 18px;
    }

    .row-data__title {
        font-size: 20px;
    }

    .block-stages-change__arrow {
        width: 660px;
    }
    .block-stages-change__title {
        font-size: 30px;
    }
    .block-stages-change__label {
        left: 15px;
        bottom: 12px;
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    :root {
        --base-fs: 16px;
    }

    .main-section__headline {
        font-size: 38px;
    }
    .main-section__desc-item {
        font-size: 14px;
    }

    .logo {
        max-width: 190px;
        margin-right: 15px;
    }

    .header__link-mail {
        line-height: 18px;
        font-size: 14px;
    }

    .phone-block {
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 10px;
    }
    .header__action-btn {
        font-size: 12px;
        padding: 7px 7px;
        white-space: nowrap;
    }

    .main-section__desc {
        font-size: 16px;
    }

    .grid-main-achievements,
    .grid-geophisics-achievements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .wrapper-tasks-solved {
        grid-row-gap: 10px;
    }

    .block-tasks-solved {
        border-radius: 25px;
    }
    .block-tasks-solved__title {
        font-size: 18px;
    }
    .block-tasks-solved__body {
        font-size: 16px;
        padding: 34px 45px;
    }

    .main-feedback-form {
        position: initial;
        width: 100%;
        max-width: 600px;
        margin-top: 35px;
        margin-bottom: 35px;
        transform: none;
    }

    .bg-main-feedback-form {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        margin-bottom: 25px;
    }

    .cell-service {
        height: 360px;
    }
    .simple-block__logo {
        width: 35px;
    }
    .simple-block__title {
        font-size: 19px;
    }
    .cell-service__content {
        flex-direction: column;
        align-items: start;
    }
    .cell-service__desc {
        margin-bottom: 15px;
    }

    .list-categories-methods-bg {
        width: 550px;
    }

    .category-methods {
        padding: 20px;
    }
    .category-methods__title {
        font-size: 20px;
    }
    .category-method__label,
    .category-method__text {
        font-size: 15px;
    }

    .project-item__review {
        padding: 25px 20px;
    }
    .project-item__name {
        padding: 25px 20px;
    }
    .project-item__table th, td {
        padding: 20px;
    }

    .main-section {
        height: calc(100vh - 149px);
    }

    .mini-feedback-form {
        padding: 40px;
    }

    .warning-main-feedback-form {
        font-size: 12px;
        line-height: 20px;
    }

    .telegram-chat-link__title {
        font-size: 13px;
    }
    .telegram-chat-link__desc {
        font-size: 11px;
    }

    .button_scroll-up,
    .button_messengers,
    .button_telegramm,
    .button_whatsapp,
    .button_messengers-close {
        padding: 0;
    }

    .button_scroll-up img,
    .button_messengers img,
    .button_whatsapp img,
    .button_telegramm img,
    .button_messengers-close img {
        width: 60px;
    }

    .button_messengers-close_open {
        transform: translateX(-70px);
    }
    .button_telegramm_open {
        transform: translateY(-70px);
    }
    .button_whatsapp_open {
        transform: translateY(-140px);
    }

    .button_scroll-up {
        left: calc(50% - 384px);
        transform: translateX(0);
    }

    .messenger-bts-wrp {
        left: calc(50% + 384px);
        transform: translateX(-100%);
    }

    .wrapper-list-categories-methods {
        grid-template-columns: 1fr;
    }

    .main-feedback-block {
        position: relative;
        display: block;
        height: 700px
    }
    .main-feedback-block__bg {
        position: absolute;
        top: 0;
        left: calc((756px - 100vw) / 2);
        width: 992px;
        height: 100%;
    }
    .main-feedback-block__img {
        right: initial;
        width: 100%;
        border-radius: 0;
    }
    .main-feedback-block__form-container {
        padding: 80px 0;
    }
    .main-feedback-block__form {
        margin: 0 auto;
    }

    .secondary-page-start__main {
        font-size: 20px;
        line-height: 1.3;
    }

    .row-data__title {
        font-size: 20px;
    }

    .block-stages-change__arrow {
        width: 500px;
    }
    .block-stages-change__title {
        font-size: 27px;
    }
    .block-stages-change__label {
        left: 11px;
        bottom: 10px;
        font-size: 18px;
    }
    .block-stages-change__index {
        width: 26px;
        height: 26px;
        font-size: 18px;
    }

    .action-block {
        padding: 30px 25px 25px;
    }
    .action-block__title {
        font-size: 20px;
    }

    .grid-targets-modeling {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 30px;
    }

    .block-achieving-commercial-goals {
        grid-template-columns: 40% 60%;
    }
    .block-achieving-commercial-goals__info {
        padding-left: 95px;
        margin-top: 50px;
    }

    .geophisics-achievement {
        height: 300px;
    }

    .main-tasks-geo-stage {
        grid-template-columns: repeat(2, 1fr);
    }

    .numberedItem {
        grid-template-columns: 70% 30%;
        padding: 25px;
    }
    .numberedItem__num {
        line-height: 1;
        bottom: -55px;
        right: initial;
        font-size: 220px;
    }
}

@media (max-width: 767px) {
    .telegram-chat-link {
        grid-area: tg;
    }
    .telegram-chat-link__title {
        font-size: 13px;
    }
    .telegram-chat-link__desc {
        font-size: 11px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    :root {
        --base-fs: 16px;
    }

    main {
        padding-top: 77px;
    }

    .header__top {
        padding: 10px 0;
    }
    .header__top {
        border-bottom: none;
    }
    .header__bottom {
        display: none;
    }

    .logo {
        max-width: 213px;
    }

    .header__link-mail {
        display: none;
    }

    .phone-block {
        font-size: 14px;
        flex-shrink: 0;
    }
    .header__action-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: inline-block;
    }

    .page-section {
        padding: 50px 0 0;
    }
    .page-section_pb {
        padding-bottom: 50px;
    }

    .main-section {
        height: calc(100vh - 77px);
    }
    .main-section__headline {
        font-size: 36px;
    }
    .main-section__desc-item {
        font-size: 15px;
    }

    .main-section__desc {
        font-size: 16px;
        padding: 0;
    }

    .list-categories-methods-bg__img {
        position: initial;
    }

    .grid-partners {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row dense;
        grid-gap: 25px 30px;
    }
    .grid-partners__logo:last-child {
        grid-column: span 3;
    }

    .grid-main-achievements,
    .grid-geophisics-achievements {
        display: block;
    }

    .grid-geophisics-achievements {
        margin-bottom: 60px;
    }

    .achievements-block {
        max-width: 500px;
        height: 200px;
        margin: 0 auto 15px;
    }

    .wrapper-tasks-solved {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .block-tasks-solved {
        border-radius: 25px;
    }
    .block-tasks-solved__title {
        font-size: 18px;
    }
    .block-tasks-solved__body {
        padding: 34px 45px;
    }

    .main-feedback-form {
        position: initial;
        width: 100%;
        max-width: 500px;
        margin-top: 35px;
        margin-bottom: 35px;
        transform: none;
    }

    .bg-main-feedback-form {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        margin-bottom: 25px;
    }

    .grid-company-service {
        grid-template-columns: 1fr;
    }

    .cell-service {
        height: 300px;
        padding: 20px;
    }
    .cell-service__title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .cell-service__desc {
        margin-bottom: 15px;
    }
    .cell-service__content {
        flex-direction: column;
        align-items: start;
    }
    .simple-block__logo {
        width: 35px;
    }
    .simple-block__title {
        font-size: 18px;
        margin-bottom: 0;
        padding-right: 30px;
    }


    .alert-company-service {
        font-size: 16px;
    }

    .wrapper-list-categories-methods {
        grid-template-columns: 1fr;
    }
    .list-categories-methods-bg {
        display: none;
        position: initial;
        width: 100%;
        max-width: 540px;
        margin: 0 auto 30px;
        transform: none;
    }
    .category-methods {
        padding: 15px;
        margin-bottom: 20px;
    }
    .category-methods__title {
        font-size: 20px;
    }
    .category-method {
        margin-bottom: 10px;
        border-radius: var(--base-radius);
    }
    .category-method__label {
        padding: 7px 12px;
        margin-bottom: 0;
        border-radius: var(--base-radius);
    }
    .category-method__label:not(:first-child) {
        margin-left: 1px;
    }
    .category-method .category-method__label:last-of-type {
        padding-right: 12px;
    }
    .category-method__text {
        width: 100%;
        margin-left: 0;
        padding: 5px 10px;
    }

    .project-item {
        font-size: 14px;
    }
    .project-item__review {
        padding: 20px 15px;
    }
    .project-item__client {
        grid-template-columns: 50px 1fr;
        margin-bottom: 15px;
    }
    .project-item__client-avatar {
        width: 50px;
        height: 50px;
    }
    .project-item__client-name {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .project-item__review-quote {
       padding: 15px; 
    }
    .project-item__name {
        font-size: 16px;
        padding: 15px;
    }
    .project-item__table th, td {
        padding: 15px;
        line-height: 1.3;
    }

    .warning-main-feedback-form {
        font-size: 14px;
        line-height: 20px;
    }

    .button_scroll-up,
    .button_messengers,
    .button_telegramm,
    .button_whatsapp,
    .button_messengers-close {
        padding: 0;
    }

    .button_scroll-up img,
    .button_messengers img,
    .button_whatsapp img,
    .button_telegramm img,
    .button_messengers-close img {
        width: 55px;
    }

    .button_messengers-close_open {
        transform: translateX(-70px);
    }
    .button_telegramm_open {
        transform: translateY(-70px);
    }
    .button_whatsapp_open {
        transform: translateY(-140px);
    }

    .button_scroll-up {
        left: calc(50% - 288px);
        transform: translateX(0);
    }

    .messenger-bts-wrp {
        left: calc(50% + 288px);
        transform: translateX(-100%);
    }

    .card__title {
        font-size: 20px;
    }
    .card__inner {
        padding: 25px;
    }
    .card__content {
        margin-bottom: 10px;
    }

    .about-pm-areas { 
        overflow: hidden;
    }
    .about-pm-areas__bg {
        position: absolute;
        z-index: 0;
        left: -30px;
    }

    .list-key-value {
        margin-left: 100px;
    }

    .key-value-item__title {
        font-size: 18px;
    }

    .main-feedback-block {
        position: relative;
        display: block;
        height: 700px
    }
    .main-feedback-block__bg {
        position: absolute;
        top: 0;
        left: calc((560px - 100vw) / 2);
        width: 992px;
        height: 100%;
    }
    .main-feedback-block__img {
        right: initial;
        width: 100%;
        border-radius: 0;
    }
    .main-feedback-block__form-container {
        padding: 60px 0;
    }
    .main-feedback-block__form {
        margin: 0 auto;
        width: 100%;
    }

    .mini-feedback-form {
        margin: 0 auto;
        padding: 40px;
    }
    .mini-feedback-form .form__fields-group_inline {
        display: block;
    }
    .mini-feedback-form .form__fields-group_inline .form__field {
        margin: 10px 0;
    }

    .secondary-page-start__main {
        font-size: 20px;
        line-height: 1.3;
        padding-left: 13px;
    }

    .row-data {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'text'
                             'image';
        border: none;
        border-radius: 0;
    }
    .row-data_mobile-border {
        border: var(--base-border);
        border-radius: var(--base-radius);
        padding: 15px 15px 0;
    }
    .row-data_mobile-border .row-data__content_wrp-image {
        margin: 0 -15px;
    }
    .row-data__icon_mobile {
        display: inline-block;
        width: 24px;
    }
    .row-data__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .row-data__content {
        padding: 0;
    }
    .row-data__content_wrp-image {
        display: flex;
        align-items: center;
        height: 250px;
        grid-area: image;
    }
    .row-data__image {
        height: auto;
    }
    .row-data__content_text {
        grid-area: text;
    }
    .row-data__text p {
        margin-bottom: 20px;
    }

    .block-stages-change__gallery {
        grid-gap: 20px
    }
    .block-stages-change__arrow {
        width: 300px;
    }
    .block-stages-change__arrow_desktop {
        display: none;
    }
    .block-stages-change__arrow_mobile {
        display: block;
    }
    .block-stages-change__title {
        font-size: 24px;
    }
    .block-stages-change__label {
        left: 11px;
        bottom: 10px;
        font-size: 18px;
    }
    .block-stages-change__index {
        width: 26px;
        height: 26px;
        font-size: 18px;
    }
    .block-stages-change__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
    }
    .block-stages-change__img {
        width: auto;
        height: auto;
    }

    .action-block {
        padding: 30px 25px 25px;
    }
    .action-block__title {
        font-size: 20px;
    }

    .grid-targets-modeling {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 30px;
    }

    .block-achieving-commercial-goals {
        grid-template-columns: 1fr;
    }
    .block-achieving-commercial-goals__wrp-img {
        display: none;
    }
    .block-achieving-commercial-goals__info {
        background: var(--white-color);
        border-radius: var(--base-radius);
        margin-top: 50px;
        padding: 30px;
        text-align: center;
    }
    .block-achieving-commercial-goals__text {
        padding: 0 50px;
    }
    .block-achieving-commercial-goals__info .button {
        width: 100%;
    }

    .section-predictive-modeling {
        background: var(--white-color);
    }
    .section-predictive-modeling .row-data__title {
        display: none;
    }
    .section-predictive-modeling .row-data__text {
        background: var(--white-color);
        margin-bottom: 20px;
    }

    .geophisics-form_desktop {
        display: none;
    }
    .geophisics-form_mobile {
        display: block;
    }

    .main-tasks-geo-stage {
        grid-template-columns: repeat(2, 1fr);
    }

    .commercial-purposes-geo {
        grid-template-columns: 1fr;
    }

    .numberedItem__title {
        font-size: 23px;
    }

    .geophisics-achievement {
        height: 250px;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    :root {
        --base-fs: 14px;
        --base-lh: 1.3;
    }

    main {
        padding-top: 60px;
    }

    .header__top {
        border-bottom: none;
        padding: 10px 0;
    }
    .header__bottom {
        display: none;
    }

    .logo {
        max-width: 150px;
    }

    .header__link-mail {
        display: none;
    }

    .header .phone-block {
        font-size: 10px;
        flex-shrink: 0;
        margin-right: 0;
    }
    .header__action-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: inline-block;
    }

    .page-section {
        padding-top: 60px;
    }
    .page-section_pb {
        padding-bottom: 60px;
    }

    .main-section {
        align-items: center;
        height: calc(100vh - 60px);
        padding-bottom: 0;
    }
    .main-section__headline {
        font-size: 27px;
        line-height: 1.3;
    }
    .main-section__desc {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        font-size: 16px;
        line-height: 1.3;
        padding: 0;
    }
    .main-section__desc-item {
        margin-bottom: 20px;
    }
    .main-section__slide-down {
        display: none;
    }

    .grid-partners {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row dense;
        grid-gap: 25px 30px;
    }
    .grid-partners__logo:last-child {
        display: none;
    }

    .grid-main-achievements,
    .grid-geophisics-achievements {
        display: block;
    }
    

    .achievements-block {
        max-width: 500px;
        height: 200px;
        margin: 0 auto 10px;
    }
    .achievements-block__desc {
        font-size: 16px;
    }

    .simple-block {
        padding: 20px;
    }
    .simple-block__title {
        font-size: 16px;
    }
    .simple-block__logo {
        width: 25px;
        height: 25px;
    }

    .wrapper-section-task-solved {
        border-radius: 20px;
    }
    .wrapper-tasks-solved {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .block-tasks-solved {
        padding: 15px;
    }
    .block-tasks-solved__title {
        font-size: 16px;
    }
    .block-tasks-solved__btn {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .feedback-form-label {
        font-size: 12px;
    }
    .main-feedback-form {
        position: initial;
        width: calc(100% - 24px);
        max-width: 400px;
        margin-top: 65px;
        margin-bottom: 35px;
        margin-right: auto;
        margin-left: auto;
        transform: none;
        padding: 20px 25px;
    }

    .bg-main-feedback-form {
        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: auto;
        margin-bottom: 40px;
    }

    .grid-company-service {
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
    }
    .cell-service {
        padding: 20px;
    }
    .cell-service__desc {
        margin-bottom: 15px;
        padding-right: 0;
    }
    .cell-service__content {
        flex-direction: column;
        align-items: start;
    }

    .alert-company-service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .alert-company-service .alert-block__text {
        padding: 0 10px;
    }
    .alert-company-service .button {
        margin-top: 30px;
        width: 100%;
    }

    .wrapper-list-categories-methods {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .list-categories-methods-bg {
        display: none;
        position: initial;
        width: 100%;
        max-width: 540px;
        margin: 0 auto 30px;
        transform: none;
    }
    .category-methods {
        padding: 15px;
        margin-bottom: 20px;
    }
    .category-methods__title {
        display: flex;
        font-size: 16px;
        align-items: flex-start;
    }
    .category-methods__title::before {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    .category-methods__list {
        margin-top: 20px;
    }
    .category-method {
        margin-bottom: 10px;
        border-radius: var(--base-radius);
    }
    .category-method__label {
        padding: 7px 12px;
        border-radius: var(--base-radius);
    }
    .category-method__label:not(:first-child) {
        margin-left: 1px;
    }
    .category-method .category-method__label:last-of-type {
        padding-right: 12px;
    }
    .category-method__text {
        width: 100%;
        margin-left: 0;
        padding: 5px 10px;
        white-space: wrap;
    }
    .category-method__label:not(:first-child) {
        margin-left: 1px;
    }
    .category-method .category-method__label:last-of-type {
        padding-right: 12px;
    }
    .category-method__text {
        width: 100%;
        margin-left: 0;
        padding: 5px 10px;
    }

    .projects-slider-container {
        border: var(--base-border);
        margin-top: 90px;
    }

    .projects-slider .slick-arrow {
        top: -50px;
    }
    .projects-slider > .slick-prev {
        left: 0;
    }
    .projects-slider .slick-prev::before {
        content: url(../img/left-chevron_orange.svg);
    }
    .projects-slider > .slick-next {
        right: initial;
        left: 60px;
    }
    .projects-slider .slick-next::before {
        content: url(../img/rigth-chevron_orange.svg);
    }

    .project-item__container {
        grid-template-columns: 1fr;
    }
    .project-item__review {
        padding: 20px 15px;
    } 
    .project-item__desc {
        display: none;
    }
    .project-item__client {
        grid-template-columns: 50px 1fr;
        margin-bottom: 15px;
    }
    .project-item__client-avatar {
        width: 50px;
        height: 50px;
    }
    .project-item__review-text {
        margin-bottom: 15px;
    }
    .project-item__review-quote {
        padding: 10px;
        margin-bottom: 40px;
    }
    .project-item__about-btn {
        display: inline-block;
        margin-top: 18px;
    }

    .warning-main-feedback-form {
        font-size: 8px;
        line-height: 14px;
    }

    .button_scroll-up,
    .button_messengers,
    .button_telegramm,
    .button_whatsapp,
    .button_messengers-close {
        padding: 0;
    }

    .button_scroll-up img,
    .button_messengers img,
    .button_whatsapp img,
    .button_telegramm img,
    .button_messengers-close img {
        width: 50px;
    }

    .button_messengers-close_open {
        transform: translateX(-65px);
    }
    .button_telegramm_open {
        transform: translateY(-65px);
    }
    .button_whatsapp_open {
        transform: translateY(-130px);
    }

    .button_scroll-up {
        left: 0;
        bottom: 20px;
        transform: translateX(0);
    }

    .messenger-bts-wrp {
        left: 100%;
        bottom: 20px;
    }

    .text-block {
        margin-bottom: 30px;
    }

    .page-img {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .card__title {
        font-size: 17px;
    }
    .card__inner {
        padding: 25px 20px;
    }
    .card__content {
        margin-bottom: 10px;
    }

    .wrp-gray-gradient {
        padding: 25px 15px 60px;
    }

    .about-pm-areas { 
        overflow: hidden;
    }
    .about-pm-areas__bg {
        position: absolute;
        z-index: 0;
        left: -30px;
    }

    .list-key-value {
        margin-left: 45px;
        margin-right: 15px;
    }

    .key-value-item {
        height: 65px;
        padding-left: 55px;
    }
    .key-value-item__logo {
        width: 66px;
        height: 66px;
    }
    .key-value-item__logo::after {
        right: -30px;
        border: 14px solid transparent;
        border-left: 14px solid var(--middle-gray);
    }
    .key-value-item__img {
        height: 30px;
    }
    .key-value-item__title {
        font-size: 12px;
    }

    .page-section_main-feedback {
        display: none;
    }

    .mini-feedback-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px 10px;
    }
    .mini-feedback-form .form__fields-group_inline {
        display: block;
        margin-bottom: 10px;
    }
    .mini-feedback-form .form__fields-group_inline .form__field {
        margin: 10px 0;
    }

    .secondary-page-start {
        min-height: calc(100vh - 60px);
        padding-top: 100px;
        overflow: hidden;
        padding-top: 30px;
    }
    .secondary-page-start__title {
        color: var(--white-color);
        margin-bottom: 30px;
    }
    .secondary-page-start__shadow {
        display: block;
    }
    .secondary-page-start__image {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        margin-top: 0;
    }
    .secondary-page-start__content {
        display: block;
        color: var(--white-color);
        margin-bottom: 30px;
    }
    .secondary-page-start__main,
    .secondary-page-start__desc {
        border-left: 2px solid var(--white-color);
        background: linear-gradient(90deg, rgb(255, 255, 255, .1), rgba(255, 255, 255, 0));
        padding-left: 10px;
        padding: 5px 10px;
    }
    .secondary-page-start__main {
        font-size: 16px;
        padding-left: 13px;
        margin-bottom: 30px;
    }
    .secondary-page-start__controls .button {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .row-data {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'text'
                             'image';
        border: none;
        border-radius: 0;
    }
    .row-data_mobile-border {
        border: var(--base-border);
        border-radius: var(--base-radius);
        padding: 15px 15px 0;
    }
    .row-data_mobile-border .row-data__content_wrp-image {
        margin: 0 -15px;
    }
    .row-data__icon_mobile {
        display: inline-block;
        width: 24px;
    }
    .row-data__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .row-data__content {
        padding: 0;
    }
    .row-data__content_text {
        grid-area: text;
    }
    .row-data__content_wrp-image {
        display: flex;
        align-items: center;
        height: 200px;
        grid-area: image;
    }
    .row-data__text p {
        margin-bottom: 20px;
    }
    .row-data__image {
        height: auto;
    }
    
    .block-stages-change {
        margin-bottom: 0;
    }
    .block-stages-change__gallery {
        grid-gap: 5px
    }
    .block-stages-change__arrow {
        width: calc(100% - 150px);
        margin: 0 10px;
    }
    .block-stages-change__arrow_desktop {
        display: none;
    }
    .block-stages-change__arrow_mobile {
        display: block;
    }
    .block-stages-change__title {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .block-stages-change__label {
        left: 4px;
        bottom: 7px;
        font-size: 14px;
    }
    .block-stages-change__index {
        width: 26px;
        height: 26px;
        font-size: 18px;
    }
    .block-stages-change__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
    }
    .block-stages-change__img {
        width: auto;
        height: auto;
    }

    .action-block {
        display: block;
        padding: 20px;
    }
    .action-block__icon {
        width: 25px;
        margin-bottom: 15px;
    }
    .action-block__title {
        font-size: 16px;
        margin-bottom: 20px;
        padding-right: 50px;
    }
    .action-block__text {
        margin-bottom: 20px;
    }

    .grid-targets-modeling {
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
    }

    .block-achieving-commercial-goals {
        grid-template-columns: 1fr;
    }
    .block-achieving-commercial-goals__wrp-img {
        display: none;
    }
    .block-achieving-commercial-goals__info {
        background: var(--white-color);
        border-radius: var(--base-radius);
        margin-top: 50px;
        padding: 30px;
        text-align: center;
    }
    .block-achieving-commercial-goals__text {
        padding: 0 20px;
    }
    .block-achieving-commercial-goals__info .button {
        width: 100%;
    }

    .section-predictive-modeling {
        padding-top: 0;
        padding-bottom: 0;
        background: var(--white-color);
        border-radius: 0;
    }
    .section-predictive-modeling .row-data__title {
        display: none;
    }
    .section-predictive-modeling .row-data__text {
        background: var(--white-color);
        margin-bottom: 20px;
    }
    .section-predictive-modeling .row-data__content_wrp-image {
        display: none;
    }

    .page-section_only-mobile {
        display: block;
    }

    .section-other-methods {
        padding-bottom: 50px;
    }

    .textWithIcon {
        padding: 18px 15px;
    }

    .geophisics-form_desktop {
        display: none;
    }
    .geophisics-form_mobile {
        display: block;
    }

    .geophisics-achievement {
        height: auto;
        min-height: 200px;
        margin-bottom: 10px;
    }
    .geophisics-achievement .simple-block__title {
        margin-bottom: 15px;
    }

    .main-tasks-geo-stage {
        grid-template-columns: 1fr;
    }

    .pictureItem__img {
        height: 180px;
    }

    .commercial-purposes-geo {
        grid-template-columns: 1fr;
    }

    .numberedItem {
        padding: 20px;
    }
    .numberedItem__title {
        font-size: 16px;
    }
    .numberedItem__num {
        bottom: -50px;
        right: -17px;
        font-size: 200px;
        height: 100%;
        line-height: 1;
    }
}

@media (max-width: 460px) {
    .header .phone-block {
        display: none;
    }

    .telegram-chat-link {
        align-items: center;
    }
    .telegram-chat-link__desc {
        display: none;
    }

}