.mobile-menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0,0,0, .5);
    justify-content: end;
}
.mobile-menu_open {
    display: flex;
}

.mobile-menu__wrp {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: var(--black-color);
    padding: 15px 20px 50px;
}

.mobile-menu__close-btn {
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border: none;
    border-radius: 50%;
    margin-bottom: 30px;
}
.mobile-menu__close-btn img {
    width: 16px;
}

.mobile-menu__nav {
    border-bottom: 1px solid var(--dark-gray-color2);
    margin-bottom: 30px;
}

.mobile-menu__list {
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

.mobile-menu__item {
    margin-bottom: 15px;
}
.mobile-menu__item_with-sub .mobile-menu__label::after {
    content: url('../img/logo/chevron.svg');
    margin-left: 10px;
}
.mobile-menu__item_with-sub .mobile-menu__label:hover::after {
    content: url('../img/logo/chevron_active.svg');
}

.mobile-menu__label {
    font-size: 16px;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.mobile-menu__label:hover,
.mobile-menu__label_active {
    color: var(--orange-color)
}

.mobile-menu__sublist {
    display: none;
    padding-left: 0;
    list-style-type: none;
    margin-top: 10px;
}
.mobile-menu__sublist_show {
    display: block;
}

.mobile-menu__subitem {
    margin-bottom: 15px;
}

.mobile-menu__sublabel {
    font-size: 14px;
    color: var(--dark-gray-color);
    text-decoration: none;
}

.mobile-menu__email-link {
    display: inline-block;
    color: var(--white-color);
    margin-bottom: 30px;
}

.mobile-menu__social-links img {
    width: 45px;
}

.mobile-menu__footer {
    text-align: right;
}

.mobile-menu__phone-block {
    grid-gap: 5px 0;
    color: var(--white-color);
    font-size: 14px;
    margin-bottom: 30px;
}
.mobile-menu__phone-block .phone-block__city::before {
    width: 1px;
    height: 14px;
}