.alert-block {
    padding: 28px 30px;
    font-size: 18px;
    border-radius: var(--base-radius);
}

.alert-block_default {
    background: var(--light-gray-color);
}

.alert-block_rounded {
    border-radius: 15px;
}

.alert-block_orange-border {
    padding: 40px 40px 45px;
    border-left: 4px solid var(--orange-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.alert-block_light-gray-bg {
    background: #F9FAFB;
}

.alert-block_gray-bg {
    background: var(--light-gray-color);
}

.alert-block_light-orange-bg {
    background: var(--light-orange-color);
    color: var(--black-color);
}

.alert-block_gray-border {
    border: var(--base-border);
}

.alert-block_bold {
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 991px) {
    .alert-block {
        padding: 20px;
    }
}

@media (max-width: 575px) {
    .alert-block {
        padding: 20px;
        font-size: 14px;
    }
}