.alert-block {
    padding: 28px 30px;
    font-size: 18px;
    border-radius: var(--base-radius);
}

.alert-block_default {
    background: var(--light-gray-color);
}

.alert-block_rounded {
    border-radius: 15px;
}

.alert-block_orange-border {
    padding: 40px 40px 45px;
    border-left: 4px solid var(--orange-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.alert-block_light-gray-bg {
    background: #F9FAFB;
}

.alert-block_gray-bg {
    background: var(--light-gray-color);
}

.alert-block_light-orange-bg {
    background: var(--light-orange-color);
    color: var(--black-color);
}

.alert-block_gray-border {
    border: var(--base-border);
}

.alert-block_bold {
    font-weight: 600;
}

.alert-with-btns {
    display: flex;
    align-items: center;
}
.alert-with-btns > .alert-block__text {
    flex-grow: 1;
}
.alert-with-btns > div:last-child {
    flex-shrink: 0;
    flex-grow: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .alert-block {
        padding: 20px;
    }

    .alert-with-btns {
        flex-direction: column;
    }
    .alert-with-btns > .alert-block__text {
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .alert-with-btns {
        flex-direction: column;
    }
    .alert-with-btns > .alert-block__text {
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .alert-block {
        padding: 20px;
        font-size: 14px;
    }

    .alert-with-btns {
        flex-direction: column;
    }
    .alert-with-btns > .alert-block__text {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .alert-with-btns .button {
        width: 100%;
        margin-bottom: 5px;
    }
}