/* row-data */
.row-data {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;
    border: var(--base-border);
    border-radius: var(--base-radius);
    margin-bottom: 30px;
}
.row-data:last-child {
    margin-bottom: 0;
}
.row-data_orange {
    border: var(--orange-border);
}
.row-data__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background: var(--white-color);
    line-height: 1.3;
}
.row-data__content_wrp-image {
    overflow: hidden;
    padding: 0;
}
.row-data__title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.row-data__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.row-data__image {
    height: 100%;
}
.row-data__text {
    margin-bottom: 30px;
}
.row-data__text p {
    margin-bottom: 30px;
}
.row-data__text p:last-child {
    margin-bottom: 0;
}
.row-data__tags {
    padding-right: 50px;
}
.row-data__icon {
    display: none;
    margin-bottom: 20px;
}